__pycache__
.vscode
dump
data*
game_distribution
vector_env
main_follower.py
main_test.py
main_vec_env.py
mobile_sam.pt
yolov8l-world.pt
human_eval.py
test*
saved_pcd
create*
visualize*
agents/dataset_mapping_agent.py
agents/explored_agent.py
human_eval.py
replice.md
configs/objectnav_gibson.yaml
configs/objectnav_hm3d_v2.yaml
configs/vlobjectnav_hm3d_goat.yaml
configs/vlobjectnav_replica.yaml

third_party
batch.log
